@import "tailwindcss";

:root {
  --blue-primary: #64B4CB;
  --blue-secondary: #005E79;
  --blue-tertiary: #A0EAFF;

  --purple-primary: #B091BD;
  --purple-secondary: #56007A;
  --purple-tertiary: #E1C4EE;
  
  --orange-primary: #DB8933;
  --orange-secondary: #7A3E00;
  --orange-tertiary: #FFBE7A;

  --green-primary: #7EB452;
  --green-secondary: #275502;
  --green-tertiary: #AEE77F;

  --accent: #B1D2C0;
}

body {
  font-family: "Open Sans", sans-serif;
    background-color: white;
  color: black;
}

html.dark body {
  background-color: #212121;
  color: white;
}

.navigationRail {
  background-color: white;
  color: black;
}

html.dark .navigationRail {
  background-color: #171717; 
color: white;
}

html.dark .menuIcons {
  color: white;
}

html.dark .button {
  background-color: #53C285;
  border-color: white;
  color: white;
}

/* wp embed styling */
.wp-block-embed iframe {
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
}